
@import "fun";

.highlight {
  background-color: #ddd;
  padding: em(16) em(16) em(16) em(16);
  border: 1px solid #ddd;
  margin: em(20) 0 em(20) 0;
  overflow-x: auto;

  @include selection {
    background: darkgrey;
    color: black;
  }
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

code.highlighter-rouge {
  background-color: #ddd;
  padding-left: em(4);
  padding-right: em(4);
}

.highlight {
  * { color: black; }
  .c, .cm, .cp, .c1, .cs { color: #666; }
}
